body{
    font-family: 'MuseoModerno', cursive;
    margin: 0;
}
#nafis{
    color: salmon;
}
#nafis2{
    font-size: 40px;
}
.web{
    color: orange;
}
h1{
    font-size: 50px;
}
.half{
    width: 40%;
    float: left;
    padding-left: 5%;
}
img{
    width: 100%;
}
.half2{
    width: 40%;
    float: right;
    padding-right: 5%;
}
.c-me{
    text-decoration: none;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;

}
.s-1{
    height: 450px;

    background-image: url(
        img/top-banner.png
    );
    background-repeat: no-repeat;
}
#hard{
    color: salmon;
}
#hard2{
    font-size: 40px;
}
.s-2{
    padding-top: 20px;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 450px;
}

.b-half{
    float: left;
    width: 35%;
    margin-left: 5%;
    box-shadow: 10px 10px 20px gray;
    height: 80%;
    padding: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #ff4e00 0%, #ec9f05 74%);
    border-image-slice: 1;
    
}
.b-half2{
    float: right;
    width: 35%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px gray;
    height: 80%;
    padding: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #15e7cb 0%, #0d41eb 74%);
    border-image-slice: 1;
}
.s-3{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    height: 400px;
    background-position: left;
    
}
h2{
    font-size: 30px;
    
}
h3{
    color: orange;
}
footer{
    color: rgb(184, 180, 174);
    text-align: center;
}
.exp{
    padding-top: 100px;
    text-align: center;
}